@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(102, 202, 252, 0.79), rgba(255, 183, 236, 0.65), rgba(252, 230, 102, 0.7));

}

.container {
    width: 100%;
    min-height: 100vh;
}

nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    top: 0;
    left: 0;
    padding: 25px 100px;
    line-height: 20px;
    z-index: 100;
}

.navitems {
    display: flex;
}

.navitems li {
    list-style: none;
    margin: 0 ;
}

.navitems li a{
    text-decoration: none;
    color: white;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navitems li:hover a {
    background: pink;
    color: white
}

.wrapper {
    display: flex;
    width: 125%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.cols {
    width: 90%;

}

.topline {
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: black;
}

.topline ::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 5px;
    bottom: 10px;
    background-color: pink;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: 900;
    color: black;
}

.multi {
    color: palevioletred;
    text-transform: capitalize;
}

p{ 
    display: block;
    width: 90%;
    font-size: 1em;
    color: black;
}

.image {
    position: relative;
    width: 70%;
    height: 70%;
}

.image img{
    position: relative;
    height: 70%;
    width: calc(130% - 80px);
    top: -100px;
    right: 30px;
    transform: rotateY(180deg);
    animation: animateUser 4s linear infinite;
}

@keyframes animateUser{
    50%{
        right: 50px;
        top: -40px;

    }
}

.image #splash {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(-35deg);
    width: 130%;
    filter: saturate(200);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    50%{
        top: 49%;
        left: 50%;
        width: 130%;

    }
}